# --- Frontend & UI ---
streamlit
plotly

# --- Data & Finance ---
pandas_ta_classic
pandas
numpy
ccxt
requests

# --- Intelligence & Machine Learning ---
vaderSentiment
tensorflow-cpu
scikit-learn

# --- Utilities ---
python-dotenv
